// Header
.header {
	position: relative;
	height: 100vh;
	text-align: center;
	background-image: url('../../assets/img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	// MOBILE
	@include mq(s) {
		height: auto;
		min-height: 100vh;
	}

	// Container
	.container {
		height: 100%;
		display: flex;
		align-items: center;

		// MOBILE
		@include mq(s) {
			display: block;
		}
	}

	// Wrap
	.header-wrap {
		width: 100%;
		height: 320px;

		// MOBILE
		@include mq(s) {
			height: auto;
		}
	}

	// Title
	h1 {
		font-family: $fonte_titulo;
		font-size: 72px;
		font-weight: 700;
		color: #FFF;
		text-align: left;
		margin-bottom: 40px;

		// TABLET
		@include mq(m) {
			text-align: center;
		}

		// MOBILE
		@include mq(s) {
			font-size: 36px;
			margin-bottom: 40px;
			text-align: center;
		}
	}

	// Subtitle
	h2 {
		font-family: $fonte_titulo;
		font-size: 28px;
		line-height: 42px;
		color: #FFF;
		text-align: left;
		margin-bottom: 30px;

		// TABLET
		@include mq(m) {
			text-align: center;
		}

		// MOBILE
		@include mq(s) {
			font-size: 18px;
			line-height: 26px;
			text-align: center;
		}
	}

	// Profile photo
	figure {
		display: inline-block;
		width: 300px;
		height: 300px;
		margin-top: 10px;
		border-radius: 50%;
		border: 10px solid #FFF;
		overflow: hidden;
		background: #FFF;

		// TABLET
		@include mq(m) {
			display: none;
		}

		// MOBILE
		@include mq(s) {
			display: none;
		}
	}

	// Botões
	.btn {
		margin: 20px;

		// MOBILE
		@include mq(s) {
			margin: 10px;
		}
	}
}

// Scroll helper
.header-scroll {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -50px;
	width: 30px;
	height: 50px;
	margin: 0 auto;
	border: 2px solid #FFF;
	border-radius: 15px;

	// MOBILE
	@include mq(s) {
		display: none;
	}

	// Scroller
	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: #FFF;
		animation: scroll 1s infinite;
	}

	&:hover {
		border-color: $cor_secundaria;

		&::after {
			background: $cor_secundaria;
		}
	}
}

// Scroll animation
@keyframes scroll {
	0% {
		transform: translate(0,0);
	}
	100% {
		transform: translate(0,15px);
	}
}